body {
  font-family: 'Allerta', sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  background: #303030;
  color: rgb(36,36, 36);
}

.logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background: rgb(36, 36, 36);
}

.textLogo {
  flex: 0 1 910px;
  font-size: 2.6rem;
  color: rgb(87, 197, 160);
  text-transform: uppercase;
  text-align: left;
  padding-top: 4px;
  padding-left: 4px;
}

.search {
  flex: 0 1 30px;
  padding: 25px 14px 14px 14px;
}

.login {
  flex: 0 1 220px;
  border-left: 1px solid rgba(255, 255, 255, 0.35);;
  border-right: 1px solid rgba(255, 255, 255, 0.35);;
  color: rgb(126, 126, 126);
   font-size: 1.1rem;
    padding: 20px;
    text-align: center;
}

.navigation {
  background: #fff;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
justify-content: center;
  flex-wrap: wrap;
  font-size: 1.4rem;
  text-align: center;
}

.menu > li {
  flex: 0 1 150px;
  padding: 14px 10px;
  border-right: 1px solid rgb(238, 238, 238);;
}

.menu > li:first-child {
   border-left: 1px solid rgb(238, 238, 238);;
}

.menu > li > a {
  color: rgb(36, 36, 36);
  text-decoration: none;
}

.menu > li > a:hover {
  text-decoration: underline;
}
